Flow5.json
[
    {
        "id": "b7c073ac.b0a4f",
        "type": "tab",
        "label": "流程5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c0e9195c.fcf048",
        "type": "http in",
        "z": "b7c073ac.b0a4f",
        "name": "Get GPIO5",
        "url": "/setgpio5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "876839fc.6664c8",
                "3a3553ad.265a9c"
            ]
        ]
    },
    {
        "id": "876839fc.6664c8",
        "type": "function",
        "z": "b7c073ac.b0a4f",
        "name": "Set to 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "ef5a8981.f4c218"
            ]
        ]
    },
    {
        "id": "ef5a8981.f4c218",
        "type": "rpi-gpio out",
        "z": "b7c073ac.b0a4f",
        "name": "",
        "pin": "29",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "3a3553ad.265a9c",
        "type": "function",
        "z": "b7c073ac.b0a4f",
        "name": "Retum Status",
        "func": "msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "cf257991.9a1068",
                "714d82ef.fcc5cc"
            ]
        ]
    },
    {
        "id": "cf257991.9a1068",
        "type": "http response",
        "z": "b7c073ac.b0a4f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "714d82ef.fcc5cc",
        "type": "debug",
        "z": "b7c073ac.b0a4f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "d70892d2.e9647",
        "type": "http in",
        "z": "b7c073ac.b0a4f",
        "name": "Clear GPIO5",
        "url": "/clear5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "ee22ae5f.b06eb",
                "1c5196ce.4462a9"
            ]
        ]
    },
    {
        "id": "ee22ae5f.b06eb",
        "type": "function",
        "z": "b7c073ac.b0a4f",
        "name": "Clear to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 480,
        "wires": [
            [
                "ef5a8981.f4c218"
            ]
        ]
    },
    {
        "id": "1c5196ce.4462a9",
        "type": "function",
        "z": "b7c073ac.b0a4f",
        "name": "Retum Status",
        "func": "msg.payload = \"GPIO5 set to LOW\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 560,
        "wires": [
            [
                "cf257991.9a1068",
                "714d82ef.fcc5cc"
            ]
        ]
    }
]
